.service-container {
    background: linear-gradient(145deg, #1e2024, #23272b);
    color: #f6f6f6;
    padding: 40px;
}

.custom-card {
    border-radius: 6px;
    padding: 40px;
    height: 250px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    position: relative;
    overflow: hidden;
}

.txt {
    color: #f9004d;
}

/*
    card style---------------
*/

.servie-icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    transition: box-shadow 1s;
    color: #f9004d;
}

.custom-card:hover .servie-icon {
    box-shadow: 0 0 0 400px #f9004f9d;
    color: #f6f6f6 !important;
}