.slider-container{
    width: 100%;
    background-color: #191c26;
    padding:25px;
}
.slider-container img{
    width: 100%;
    height:200px;
}

.slide-card{
    border-radius: 5px;
    background-color: #18181a;
}
.accordion-button{
     background-color: #18181a !important;
     color: #fff;
}