.slider-container {
    width: 100%;
    background: linear-gradient(145deg, #1e2024, #23272b);
    color: #f6f6f6;
    padding: 100px 40px;
}

.project-card {
    width: 100% !important;
    height: 450px;
    padding: 10px;
    background: linear-gradient(145deg, #50535a, #383c41);
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    z-index: 99999;
}

.project-card img {
    width: 100%;
    height: 246px;
    border-radius: 8px;
    background-position: center;
    transition: 0.4s;
}

.card-btn {
    border: none;
    background: transparent;
}

.title-card {
    background-color: #f6f6f6;
    box-shadow: 0, 0, 5px rgb(0, 0, 0, 0.3);
    margin-right: 5px;
    margin-top: 5px;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 15px;
}

.viewBtn {
    border: none;
    border-radius: 15px 16px;
    margin-right: 5px;
}

/*
    swiper customize
*/

.swiper-pagination-bullet {
    background-color: #f9004d !important;
}