.skill-card{
    padding:15px 5px;
    border-radius: 5px;
    background-color:rgb(56, 55, 55);
    margin: 5px;
}
.prog{
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color:#fff;
}