
.list-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    text-align: left;
}

@media  only screen and (max-width:688px){
    .list-container{
         grid-template-columns: repeat(1,1fr);
    }
}
.skill-road{
    margin-right: 20px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 6px;
    transition: 0.4s;
    background:linear-gradient(145deg, #1e2024, #23272b);
    box-shadow:10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    position: relative;
    padding-bottom: 10px;
}
.list-container li{
    list-style: none;
    margin: 20px;
    position: relative;
    color: #fff;
}
.list-container li::before{
    content: '';
    position: absolute;
    top:calc(100% + 5px);
    width: 100%;
    height:40%;
    background-color:rgb(221, 208, 208);
    border-radius: 12px;
    left: -5px;
}
.list-container li::after{
    content: '';
    position: absolute;
    top:calc(100% + 5px);
    width: 0%;
    height:40%;
    background-color:#f9004d;
    border-radius: 12px;
    left: -6px;
}
/*set percentage*/
.list-container li.react::after{
    width: 80%;
}
.list-container li.express::after{
    width: 50%;
}
.list-container li.node::after{
    width: 60%;
}
.list-container li.mongoDb::after{
    width: 70%;
}
.list-container li.material::after{
    width: 80%;
}
.list-container li.tailwind::after{
    width: 60%;
}
.list-container li.bootstrap::after{
    width: 90%;
}
.list-container li.javascript::after{
    width: 70%;
}
.list-container li.typescript::after{
    width: 40%;
}
.list-container li.python::after{
    width: 20%;
}
.list-container li.native::after{
    width: 20%;
}
.list-container li.next::after{
    width: 65%;
}
.list-container li.sass::after{
    width: 40%;
}
.list-container li.styleComponent::after{
    width: 60%;
}
.list-container li.git::after{
    width: 80%;
}
.list-container li.firebase::after{
    width: 60%;
}
.list-container li.heroku::after{
    width: 50%;
}
.list-container li.netlify::after{
    width: 70%;
}
.list-container li.github::after{
    width: 80%;
}